Node-RED flows/595_led.json
[
    {
        "id": "9de26fa606d8ae8d",
        "type": "tab",
        "label": "595 LED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab22734227ff35b9",
        "type": "ui_slider",
        "z": "9de26fa606d8ae8d",
        "name": "Select LED pattern",
        "label": "Select LED pattern",
        "tooltip": "",
        "group": "9e11e37e5eaa2de1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "3902f082a71c548c"
            ]
        ]
    },
    {
        "id": "3902f082a71c548c",
        "type": "function",
        "z": "9de26fa606d8ae8d",
        "name": "LED control",
        "func": "var intToSend = 0;\nif (msg.payload == 0) intToSend = 0;\nif (msg.payload == 1) intToSend = 1;\nif (msg.payload == 2) intToSend = 2;\nif (msg.payload == 3) intToSend = 3;\nif (msg.payload == 4) intToSend = 4;\nif (msg.payload == 5) intToSend = 5;\nif (msg.payload == 6) intToSend = 6;\nif (msg.payload == 7) intToSend = 7;\nreturn { payload: intToSend };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "e837d81489c53497",
                "1bdf1818aea59065",
                "1107d4e8c1318020"
            ]
        ]
    },
    {
        "id": "e837d81489c53497",
        "type": "debug",
        "z": "9de26fa606d8ae8d",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "1bdf1818aea59065",
        "type": "mqtt out",
        "z": "9de26fa606d8ae8d",
        "name": "LED MQTT",
        "topic": "LED_shift",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3f6136cafa8821ad",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "1107d4e8c1318020",
        "type": "ui_text",
        "z": "9de26fa606d8ae8d",
        "group": "9e11e37e5eaa2de1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Selected pattern",
        "label": "Selected pattern",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e11e37e5eaa2de1",
        "type": "ui_group",
        "name": "595 Shift register",
        "tab": "a62559ef4701f0b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f6136cafa8821ad",
        "type": "mqtt-broker",
        "name": "Local MQTT broker",
        "broker": "192.168.20.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a62559ef4701f0b9",
        "type": "ui_tab",
        "name": "595 Shift register",
        "icon": "dashboard",
        "order": 18,
        "disabled": false,
        "hidden": false
    }
]
