Node-RED flows/distance_sensor.json
[
    {
        "id": "36a096dfb70805cf",
        "type": "tab",
        "label": "Distance sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccc2a3b47bb2d989",
        "type": "mqtt in",
        "z": "36a096dfb70805cf",
        "name": "Distance sensor data",
        "topic": "pico/range",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f6136cafa8821ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "582aacd0fddc951e"
            ]
        ]
    },
    {
        "id": "0484190cbcfa6c05",
        "type": "ui_slider",
        "z": "36a096dfb70805cf",
        "name": "Distance in cm",
        "label": "Distance",
        "tooltip": "",
        "group": "1edf020b82dc7619",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "582aacd0fddc951e",
        "type": "function",
        "z": "36a096dfb70805cf",
        "name": "Float to nearest int",
        "func": "// Obtain input payload\nvar inputFloat = msg.payload;\n\n// Convert to closest integer\nvar outputInt = Math.round(inputFloat);\n\n// Set output payload\nmsg.payload = outputInt;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 300,
        "wires": [
            [
                "0484190cbcfa6c05",
                "6b702ccc442f1809"
            ]
        ]
    },
    {
        "id": "6b702ccc442f1809",
        "type": "ui_text",
        "z": "36a096dfb70805cf",
        "group": "1edf020b82dc7619",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Distance in cm",
        "label": "Distance in cm",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "3f6136cafa8821ad",
        "type": "mqtt-broker",
        "name": "Local MQTT broker",
        "broker": "192.168.20.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1edf020b82dc7619",
        "type": "ui_group",
        "name": "Distance sensor",
        "tab": "7654220615031a2d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7654220615031a2d",
        "type": "ui_tab",
        "name": "Distance sensor",
        "icon": "dashboard",
        "order": 23,
        "disabled": false,
        "hidden": false
    }
]
