Node-RED flows/led.json
[
    {
        "id": "6bcf49a73bdfcdf1",
        "type": "tab",
        "label": "LED control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e3009419aa939d4",
        "type": "mqtt out",
        "z": "6bcf49a73bdfcdf1",
        "name": "Set LED state",
        "topic": "led_state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3f6136cafa8821ad",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "54104ca7d9ab536c",
        "type": "ui_button",
        "z": "6bcf49a73bdfcdf1",
        "name": "LED ON",
        "group": "fc0f5857b8109d15",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "2e3009419aa939d4"
            ]
        ]
    },
    {
        "id": "d99615e41e0e9c55",
        "type": "ui_button",
        "z": "6bcf49a73bdfcdf1",
        "name": "LED OFF",
        "group": "fc0f5857b8109d15",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "2e3009419aa939d4"
            ]
        ]
    },
    {
        "id": "3f6136cafa8821ad",
        "type": "mqtt-broker",
        "name": "Local MQTT broker",
        "broker": "192.168.20.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc0f5857b8109d15",
        "type": "ui_group",
        "name": "LED control",
        "tab": "c851672871ffdcb4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c851672871ffdcb4",
        "type": "ui_tab",
        "name": "LED Control",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]
