Node-RED flows/secrets.json
[
    {
        "id": "f02ed880828e5517",
        "type": "tab",
        "label": "Secrets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7443e83b854b2a92",
        "type": "inject",
        "z": "f02ed880828e5517",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "8155dc0d63e85764"
            ]
        ]
    },
    {
        "id": "df9202214485c210",
        "type": "debug",
        "z": "f02ed880828e5517",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "username",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "8155dc0d63e85764",
        "type": "credentials",
        "z": "f02ed880828e5517",
        "name": "My secret data",
        "props": [
            {
                "value": "password",
                "type": "msg"
            },
            {
                "value": "apikey",
                "type": "msg"
            },
            {
                "value": "username",
                "type": "msg"
            }
        ],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "df9202214485c210",
                "82ee398062163934"
            ]
        ]
    },
    {
        "id": "82ee398062163934",
        "type": "debug",
        "z": "f02ed880828e5517",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "password",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    }
]
