Node-RED flows/ui_dropdown.json
[
    {
        "id": "0f47185b06ae067e",
        "type": "tab",
        "label": "Dropdown example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a2d3059232a652f",
        "type": "ui_dropdown",
        "z": "0f47185b06ae067e",
        "name": "Color selector",
        "label": "Select a color",
        "tooltip": "",
        "place": "Select a color",
        "group": "df9bbe0f908dbdc7",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Red",
                "value": "red",
                "type": "str"
            },
            {
                "label": "Blue",
                "value": "blue",
                "type": "str"
            },
            {
                "label": "Green",
                "value": "green",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "7ea380a9d5a23c1f"
            ]
        ]
    },
    {
        "id": "7ea380a9d5a23c1f",
        "type": "function",
        "z": "0f47185b06ae067e",
        "name": "Process dropdown output",
        "func": "msg.payload = \"The selected color is \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "579ecc3d361614e3"
            ]
        ]
    },
    {
        "id": "579ecc3d361614e3",
        "type": "ui_text",
        "z": "0f47185b06ae067e",
        "group": "df9bbe0f908dbdc7",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Selected color",
        "label": "Selected color is...",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "df9bbe0f908dbdc7",
        "type": "ui_group",
        "name": "Dropdown example",
        "tab": "fbb891c175c1301c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbb891c175c1301c",
        "type": "ui_tab",
        "name": "Dropdown",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
